/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #696969;
    /* theme gray color ok*/
}

:root {
    --theme-primary-color: #e6ab67;
    /* theme primary color ok*/
}

:root {
    --theme-secondary-color: #2a3645;
    /* theme secondary color ok*/
}

:root {
    --theme-white-color: #fff;
    /* theme white font color ok*/
}

:root {
    --theme-light-color: #f5f5f5;
    /* theme light gray color */
}

:root {
    --theme-gray-color: #e7e7e8;
    /* theme gray color ok*/
}

:root {
    --theme-dark-color: #18191b;
    /* theme dark color ok*/
}

:root {
    --theme-extra-color: #f43838;
    /* theme extra color ok*/
}

:root {
    --theme-border-color: #e7e7e7;
    /* theme border color ok*/
}

/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: "Jost", sans-serif;
    /* Font use for normal text and general text ok*/
}

:root {
    --theme-hiperlink-font: "Jost", sans-serif;
    /* Font use for normal text and general text ok*/
}

:root {
    --theme-highlight-font: "Josefin Slab", serif;
    /* Font used in title or special area ok*/
}

/*==================================
Extra CSS
==================================*/

h3,
.h3 {
    font-size: 30px;
    font-weight: 600;
}

h4,
.h4 {
    font-size: 24px;
    font-weight: 500;
}

h5,
.h5 {
    font-size: 21px;
    font-weight: 600;
}

h6,
.h6 {
    font-size: 16px;
    font-weight: 600;
}

.section-head {
    margin-bottom: 0;
}

.margin-top-minus-one {
    margin-top: -125px;
    position: relative;
}

.btn {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0;
}

[class*="btn-link"] {
    font-weight: 500;
    font-size: 13px;
    color: var(--theme-secondary-color);
}

.subscribe-form .form-control {
    padding: 13px 120px 13px 20px;
}

.ecommerce-header .top-header {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    font-size: 13px;
    text-transform: uppercase;
}

.nav-line-active .navbar-nav .active > .nav-link::before {
    width: 100%;
    bottom: 10px;
}

[class*="product-search-"] .form-inline {
    border-color: var(--theme-light-color);
    background-color: var(--theme-light-color);
}

.form-inline select {
    color: var(--theme-general-color);
}

[class*="product-search-"] .form-inline button {
    background-color: var(--theme-dark-color);
}

.categories-menu ul.menu li a {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.categories-menu .menu-item-has-children > a::after {
    display: none;
}

.product-wrapper .product-info .product-title,
.product-wrapper .product-info .product-title a {
    font-weight: 700;
    font-size: 18px;
    font-family: var(--theme-highlight-font);
}

.owl-carousel .owl-stage-outer {
    padding-top: 0px;
}

.e-border-one .product-wrapper {
    border-top: 1px solid var(--theme-gray-color);
}

.e-border-one .col:first-child .product-wrapper {
    border-left: 1px solid var(--theme-gray-color);
}

.e-border-one .product-wrapper:hover {
    border-color: var(--theme-gray-color);
}

.product-wrapper .product-image .product-labels [class*="badge"] {
    font-family: var(--theme-general-font);
    font-size: 11px;
    text-transform: uppercase;
}

.product-wrapper .shipping-feed-back .sold-items {
    font-family: var(--theme-general-font);
}

.woocommerce-tabs .nav-pills .nav-link {
    color: var(--theme-secondary-color);
    font-size: 14px;
    font-weight: 500;
    font-family: var(--theme-general-font);
    text-transform: uppercase;
}

.woocommerce-tabs .nav-pills .nav-link:hover,
.woocommerce-tabs .nav-pills .nav-link.active {
    color: var(--theme-primary-color);
}

.down-line-white,
.down-line-secondary,
.down-line {
    padding-bottom: 10px;
}

.down-line-white::before,
.down-line-secondary::before,
.down-line::before {
    width: 50px;
    height: 2px;
}

.footer-widget .widget-title {
    font-size: 18px;
    font-weight: 600;
    color: var(--theme-white-color);
}

.media-widget a {
    color: var(--theme-general-color);
}

.product-style-3 a.button.add_to_cart_button {
    text-transform: uppercase;
}

.e-btn-set-three .hover-area .cart-button a {
    width: 35px !important;
    height: 35px !important;
}

.cart-button .button.add_to_cart_button::after {
    content: "\f10a" !important;
}

.ecommerce-header .top-links li a {
    color: var(--theme-dark-color);
}

.ecommerce-header .wishlist-view a.top-quantity span,
.ecommerce-header .refresh-view a.top-quantity span,
.ecommerce-header .cart-view a.top-quantity span {
    color: var(--theme-white-color);
}

.ecommerce-header .cart-view a.top-quantity span {
    color: var(--theme-white-color);
}

.product-wrapper .product-info .product-price .price ins {
    font-size: 16px;
    font-weight: 500;
}
